<footer class="mt-12 bg-primary-900">
    <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
        <div class="flex flex-col items-center justify-between gap-4 sm:flex-row">
            <div class="flex items-center gap-3">
                <img src="/images/logo/logo.png" alt="TodoClick Icon" class="h-25 w-60" />
            </div>
            <p class="text-sm text-primary-200">
                &copy; {{ currentYear }} TodoClick. Todos los derechos reservados.
            </p>
        </div>
    </div>
</footer>